body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(0, 228, 255) 0%, rgb(22, 144, 212) 60%, rgb(33, 122, 255) 98%);
  animation: gradient 30s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: rgb(77, 0, 77);
  text-align: center;
  user-select: none;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0%;
  background-color: rgb(10, 163, 36);
  width: 100%;
  height: 5%;
} 

.bar { /* with all the links */
  white-space: nowrap;
  margin-left: 2%;
  margin-top: 0.65%;
}

.link {
  font-size: 1.5vh;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5% 0.5%;
  /* border: 1px solid rgb(60, 60, 60); */
  transition: 0.6s;
  top: 50%;
}

.link:hover {
  color: rgb(48, 48, 48);
  border-right: 1px solid plum;
  border-bottom: 1px solid plum;
}


/* Fridge */

.Fridge {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 5%;
}

/* ITEM (Fridge) */

.Item {
  background: linear-gradient(45deg, rgb(206, 206, 206) 0%, rgba(235,235,235,1) 44%, rgba(255,255,255,1) 100%);
  width: 9%;
  padding-bottom: 6%;
  user-select: none;
  border-radius: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1%;
  filter: drop-shadow(8px 8px 4px #00000060);
  /* clip-path: polygon(
    0 10%,
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  ); */
}

@keyframes hover {
  0% {
    transform: translate3d(0, 0, 0);
  }
  18% {
    transform: translate3d(0, -5%, 0);
  }
  23% {
    transform: translate3d(0, -6%, 0);
  }
  25% {
    transform: translate3d(0, -6%, 0);
  }
  27% {
    transform: translate3d(0, -6%, 0);
  }
  32% {
    transform: translate3d(0, -5%, 0);
  }
  68% {
    transform: translate3d(0, 5%, 0);
  }
  73% {
    transform: translate3d(0, 6%, 0);
  }
  75% {
    transform: translate3d(0, 6%, 0);
  }
  77% {
    transform: translate3d(0, 6%, 0);
  }
  82% {
    transform: translate3d(0, 5%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.Item:hover {
  background-color: rgb(170, 255, 227);
  animation: hover 3s infinite linear;
  animation-delay: 0s;
}

.nameItem {
  font-size: 150%;
  margin: 0;
  margin-left: 7%;
  margin-top: 7%;
}

.quanItem {
  font-size: 200%;
  margin: 0;
  margin-right: 7%;
  margin-top: 3%;
}

/* Popup */

.Popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2); /* Blur of screen behind */

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  /* width: 100%; */
  /* max-width: 640px; */
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 4px #00000060);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

/* .addButton {

} */


/* FormInput */

.FormInput {
  display: flex;
  flex-direction: column;
  /* width: 30%; */
  align-items: left;
  justify-content: center;
  user-select: none;
}
.input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

.labelInput {
  font-size: 15px;
  color: gray;
}

.confirmButton {
  width: 100%;
  height: 4vh;
  padding:2px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: 0.3s;
}

.confirmButton:hover {
  background-color: rgb(99, 0, 199);
}

form {
  align-items: center;
  justify-content: center;
}